#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  img
    width: logo-size
	height: logo-size
	margin: logo-margin

#footer-info
  text-align: center
  line-height: line-height
  font-size: 1em //0.85em