#sidebar
  background-color: color-widget-background
  border: 1px solid color-border

  @media mq-normal
    column(sidebar-column)
    width: 270px
    line-height: 1.8em
    margin-top: 29px + block-margin

  @media screen and (max-width: 900px)
    float: none
    width: 100%

  .widget-wrap
    //margin: block-margin 0

  .widget-title
    @extend $block-caption
    padding: 25px 20px 10px 15px
    font-size: 1.25em
    border-bottom: 1px solid #ddd
    font-weight: normal

  .widget
    padding: 0px 20px
    padding-bottom: 10px
    word-wrap: break-word
    a
      color: color-link
      text-decoration: none
      &:hover
        text-decoration: underline
    ul, ol, dl
      ul, ol, dl
        margin-left: 20px
        list-style: disc
